@font-face {
    font-family: ITCGaramondStd-BkNarrow;
    src: local("../assets/fonts/GaramondStd/ITCGaramondStd-BkNarrow.otf"),
         local("ITCGaramondStd-BkNarrow"),
        url('../assets/fonts/GaramondStd/ITCGaramondStd-BkNarrow.woff2') format('woff2'),
        url('../assets/fonts/GaramondStd/ITCGaramondStd-BkNarrow.woff') format('woff');
    
  }

@font-face {
    font-family: NeueMontreal-Bold;
    src: local("../assets/fonts/NeueMontreal/NeueMontreal-Bold.otf"),
         local("NeueMontreal-Bold"),
         url(NeueMontreal-Bold.otf);
    
  }

@font-face {
    font-family: NeueMontreal-Regular;
    src: local("../assets/fonts/NeueMontreal/NeueMontreal-Regular.otf"),
         local("NeueMontreal-Regular"),
         url(NeueMontreal-Bold.otf);
    
  }

  body {
    margin: 25px 25px;
    padding: 0;
    background-color: #FCF7EC;
    height: 100%;

    font-family: NeueMontreal-Regular;
  }


  /* style HEADER */


  header {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100px;
    padding:0;
    height: 5vh;
    z-index: 50;

  }

  nav {
    display: flex;
    justify-content: space-between;
    margin: 25px;
  }


  .header_left img {
    width: 90px;
  height: 39px;
  }

  .header_right {
    display: flex;
  }


  .header_right button {
    width: 170px;
    height: 36px;
    background: #9A4747;
    border-radius: 40px;
    border: none;
    border-color: none;
    color: #FCF7EC;

    font-family: Neue Montreal;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;

  }

  .burger-menu {
    width: 60px;
    height: 17px;
    position: relative;
    z-index: 50;
    cursor: pointer;
    margin-left: 50px;
    transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transition: 0.5s cubic-bezier(0.43, 0.58, 0.47, 0.62);
    -moz-transition: 0.5s cubic-bezier(0.43, 0.58, 0.47, 0.62);
    -o-transition: 0.5s cubic-bezier(0.43, 0.58, 0.47, 0.62);
    -webkit-transition: 0.5s cubic-bezier(0.43, 0.58, 0.47, 0.62);
  }

  .burger-menu span {
    background: black;
    display: block;
    position: absolute;
    height: 3px;
    width: 50px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transition: 0.25s cubic-bezier(0.43, 0.58, 0.47, 0.62);
    -moz-transition: 0.25s cubic-bezier(0.43, 0.58, 0.47, 0.62);
    -o-transition: 0.25s cubic-bezier(0.43, 0.58, 0.47, 0.62);
    -webkit-transition: 0.25s cubic-bezier(0.43, 0.58, 0.47, 0.62);
  }

  .burger-menu span:nth-child(1) {
    top: 0px;
  }

  .burger-menu span:nth-child(2) {
    top: 14px;
    width: 30px;
    float: right;
  }

  .burger-menu span:nth-child(3) {
    top: 28px;
  }

  .burger-menu.open span:nth-child(1) {
    top: 14px;
    transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    z-index: 30;
  }

  .burger-menu.open span:nth-child(2) {
    opacity: 0;
    left: 30px;
    z-index: 30;
  }

  .burger-menu.open span:nth-child(3) {
    top: 14px;
    transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    z-index: 30;
  }
  

  /* fin style header */


  /*_______________________________________________________________________*/

/* ##### Style du menu navigation ##### */

.container_menu {
    overflow: hidden;
    top: 0;

}


.menu_nav {
    position: fixed;
    overflow: hidden;
    width: 80vw;
    height: 100vh;
    background-color: #9A4747;
    top: 0;
    z-index: 10;
 
    left: -100vw;

    transition: left 0.8s ease;
}

.menu_nav_right {
    position: fixed;
    overflow: hidden;
    width: 20vw;
    height: 100vh;
    background-color: #E5E5E5;
    right: -20vw;
    top: 0;
    z-index: 10;

    transition: right 0.8s ease;
}


.active {
    left: 0;
}

.active_snd {
    right: 0;
}



/* ##### fin du menu navigation ##### */



/* ##### Debut Curseur  ##### */


.cursor{
  position: fixed;
  width: 50px;
  height: 50px;
  border: 1px solid #9C9C9C;
  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: .1s;
  background: rgba(0, 0, 0, 0.05);
}

.cursor2{
  position: fixed;
  width: 8px;
  height: 8px;
  background-color: #9C9C9C;
  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: .15s;
}

.content:hover ~ .cursor{
  transform: translate(-50%, -50%) scale(1.5);
  background-color: #c6c6c6;
  opacity: .5;
}

.content:hover ~ .cursor2{
  opacity: 0;
}

/* ##### Fin Curseur  ##### */


  /* ##### Style de la page d'accueil ##### */

.qhero {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; 
    height: 100vh;
}
 
.qhero_page_accueil {
    max-width: 85vw;
    margin: auto;
}
 

.style_h1_accueil {
    font-family: ITCGaramondStd-BkNarrow;
    font-style: normal;
    font-weight: normal;
    font-size: 9vw;
    line-height: 78%;
    /* or 112px */

    text-align: center;
    color: rgba(154, 71, 71, 1);
    ;


}

.style_h2_accueil {

  font-family: Neue Montreal;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  /* or 111% */

  text-align: center;

  color: #000000;

  max-width: 42vw;
  margin: 5vh auto 0vh auto;

}
   
        /* Bouton animé scroll */

        .scroll_anim {
          margin-top: 100px;
        }

        .circle-1, .circle-2 {
          animation: scroll 2s infinite linear;
          opacity:0;
        }
        
        .circle-2{
          animation-delay: 1s;
        }
        
        @keyframes scroll {
          0% {
            cy: 4;
            opacity: 0;
          }
          45%, 55% {
            opacity: 1;
            cy: 9;
          }
          100% {
            cy: 14;
            opacity: 0;
          }
        }
        



/* Caroussel de photos */

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* Section Muriel */


.section_muriel {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 13vh;
}

.img_muriel {
  max-width: 22.6vw;
}

.section_muriel_titre_text {
  max-width : 40vw;
  margin-left: 5vw;
}

.titre_section_muriel {
  /*margin: -10px auto;*/

  font-family: ITCGaramondStd-BkNarrow;
  font-style: normal;
  font-weight: normal;
  font-size: 8vw;
  line-height: 79%;
  /* or 103px */


  color: #9A4747;

  margin-top: 5px; /* ajustement pour le titre avec la photo */
}

.texte_section_muriel {

  font-family:NeueMontreal-Regular ;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  /* or 111% */


  color: #000000;

}

/* ##### Fin style de la page d'accueil ##### */


  /* ##### Debut Media Queries Header ##### */

  @media screen and (max-width: 450px)
  {
    .header_left img {
        width: 50px;
        height: 22px;
    }

    .header_right button {
        top: 87vh;
    position: relative;
    }

    .burger-menu span:nth-child(2) {
        top: 10px;
      }

      .burger-menu span:nth-child(3) {
        top: 20px;
      }
  }


  @media screen and (max-width: 321px) {
    .header_right button {
        width: 147px;
        height: 36px;
    
  }
}

    /* ##### Fin Media Queries Header ##### */



/* ##### Debut Media Queries Page Accueil ##### */

@media screen and (max-width: 450px) {

  .qhero_page_accueil {
    position: absolute;
    bottom: 180px;
  }
    
  .style_h1_accueil {
      font-size: 61px;
      line-height: 78%;
      /* or 48px */
    }

    .style_h2_accueil {
      max-width: 80vw;
    }

    .demo {
      display: none;
    }

  }


  @media screen and (max-height: 740px) {

    .qhero_page_accueil {
      position: absolute;
      bottom: 140px;  
    }

    .style_h1_accueil {
      font-size: 54px;
    }

    .demo {
      display: none;
    }
  }

/* ##### Fin Media Queries Page Accueil ##### */

