@font-face {
    font-family: ITCGaramondStd-BkNarrow;
    src: local("../assets/fonts/GaramondStd/ITCGaramondStd-BkNarrow.otf"),
         local("ITCGaramondStd-BkNarrow"),
         url(ITCGaramondStd-BkNarrow.otf);
    
  }

@font-face {
    font-family: NeueMontreal-Bold;
    src: local("../assets/fonts/NeueMontreal/NeueMontreal-Bold.otf"),
         local("NeueMontreal-Bold"),
         url(NeueMontreal-Bold.otf);
    
  }

@font-face {
    font-family: NeueMontreal-Regular;
    src: local("../assets/fonts/NeueMontreal/NeueMontreal-Regular.otf"),
         local("NeueMontreal-Regular"),
         url(NeueMontreal-Bold.otf);
    
  }

  body {
    margin: 25px 25px;
    padding: 0;
    background-color: #FCF7EC;;
  }


  /* style HEADER */

  header {
    height: 5vh;
  }

  nav {
    display: flex;
    justify-content: space-between;
  }


  .header_left img {
    width: 90px;
  height: 39px;
  }

  .header_right {
    display: flex;
  }


  .header_right button {
    width: 140px;
    height: 36px;
    background: #9A4747;
    border-radius: 40px;
    border: none;
    border-color: none;
    color: white;
    margin-right: 50px;
  }

  .burger-menu {
    width: 37px;
    height: 17px;
    position: relative;
    cursor: pointer;
    transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transition: 0.5s cubic-bezier(0.43, 0.58, 0.47, 0.62);
    -moz-transition: 0.5s cubic-bezier(0.43, 0.58, 0.47, 0.62);
    -o-transition: 0.5s cubic-bezier(0.43, 0.58, 0.47, 0.62);
    -webkit-transition: 0.5s cubic-bezier(0.43, 0.58, 0.47, 0.62);
  }

  .burger-menu span {
    background: black;
    display: block;
    position: absolute;
    height: 3px;
    width: 50px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transition: 0.25s cubic-bezier(0.43, 0.58, 0.47, 0.62);
    -moz-transition: 0.25s cubic-bezier(0.43, 0.58, 0.47, 0.62);
    -o-transition: 0.25s cubic-bezier(0.43, 0.58, 0.47, 0.62);
    -webkit-transition: 0.25s cubic-bezier(0.43, 0.58, 0.47, 0.62);
  }

  .burger-menu span:nth-child(1) {
    top: 0px;
  }

  .burger-menu span:nth-child(2) {
    top: 14px;
    width: 50%;
    float: right;
  }

  .burger-menu span:nth-child(3) {
    top: 28px;
  }

  .burger-menu.open span:nth-child(1) {
    top: 14px;
    transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

  .burger-menu.open span:nth-child(2) {
    opacity: 0;
    left: 30px;
  }

  .burger-menu.open span:nth-child(3) {
    top: 14px;
    transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }

  /* fin style header */




  /* ##### Style de la page d'accueil ##### */

.qhero {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; 
}
 
.qhero_page_accueil {
    max-width: 85vw;
}
 

  .style_h1_accueil {
    font-family: ITCGaramondStd-BkNarrow;
    font-style: normal;
    font-weight: normal;
    font-size: 144px;
    line-height: 78%;
    /* or 112px */

    text-align: center;
    color: #9A4747;

  }
   

 .style_scroll_SVG_accueil{
    display: block;
    margin: 0 auto;
 }

